<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Chronolux Dashboard</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
        <!-- Favicon -->
        <head>
          <!-- Font Awesome -->
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
          <!-- Material Icons -->
          <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
          <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
          <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
        <!-- <link rel="shortcut icon" type="image/x-icon" href="/adminAssets/imgs/theme/favicon.svg" /> -->
        <!-- Template CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link href="/adminAssets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
         <!-- SweetAlert CSS -->
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.css">
       <link href="/node_modules/cropperjs/dist/cropper.min.css" rel="stylesheet">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" />
       
    </head>
    <body>
    