       <!DOCTYPE html>
    <html lang="zxx">
    
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Male_Fashion Template">
        <meta name="keywords" content="Male_Fashion, unica, creative, html">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ChronoLux</title>

<!-- Bootstrap CSS -->
         <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/themify-icons@0.1.2/css/themify-icons.css">
        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <!-- Css Styles -->
        <link rel="stylesheet" href="userAssets/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="userAssets/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="userAssets/css/elegant-icons.css" type="text/css">
        <link rel="stylesheet" href="userAssets/css/magnific-popup.css" type="text/css">
        <link rel="stylesheet" href="userAssets/css/nice-select.css" type="text/css">
        <link rel="stylesheet" href="userAssets/css/owl.carousel.min.css" type="text/css">
        <link rel="stylesheet" href="userAssets/css/slicknav.min.css" type="text/css">
        <link rel="stylesheet" href="userAssets/css/style.css" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        
       
</head>
   
    
<body> 
      