<%-include("../layouts/userNavBar.ejs") %>

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>About ChronoLux</h4>
                    <div class="breadcrumb__links">
                        <a href="./index.html">Home</a>
                        <span>About Us</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- About Section Begin -->
<section class="about spad">
    <div class="container">
        
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="about__item">
                    <h4>Our Legacy</h4>
                    <p>ChronoLux is more than just a brand; it's a legacy of precision, craftsmanship, and timeless elegance. We curate the finest luxury watches from around the world, ensuring that every timepiece we offer tells a story of tradition and innovation.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="about__item">
                    <h4>Our Commitment</h4>
                    <p>At ChronoLux, we are committed to delivering exceptional quality and unparalleled customer service. Our team of experts is dedicated to helping you find the perfect watch that complements your style and meets your needs.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="about__item">
                    <h4>Why ChronoLux?</h4>
                    <p>We stand out for our curated selection of luxury watches, sourced directly from trusted manufacturers. Whether you are looking for a classic timepiece or a modern marvel, ChronoLux is your destination for watches that define sophistication and class.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->

<!-- Testimonial Section Begin -->
<section class="testimonial">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="testimonial__text">
                    <span class="icon_quotations"></span>
                    <p>“Every time I wear that watch I feel connected to him. Watches have the power to do that I think.”</p>
                    <div class="testimonial__author">
                        <div class="testimonial__author__pic">
                            <img src="userAssets/img/clients/Matt Hranek.png"  alt="Customer Testimonial">
                        </div>
                        <div class="testimonial__author__text">
                            <h5>Matt Hranek</h5>
                            <p>Author of A Man and His Watcht</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="testimonial__pic set-bg" data-setbg="img/about/testimonial-pic.jpg"></div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Section End -->

<!-- Counter Section Begin -->
<section class="counter spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    
                    <span>Exclusive <br />Watches</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                   
                    <span>50+ Luxury <br />Brands</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                  
                    <span>20+ Years of <br />Experience</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    <div class="counter__item__number">
                        <h2 class="cn_num">96</h2>
                        <strong>%</strong>
                    </div>
                    <span>Satisfied <br />Customers</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Counter Section End -->

<!-- Team Section Begin -->
<section class="team spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Our Team</span>
                    <h2>Meet the ChronoLux Team</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team__item">
                    <!-- <img src="img/about/team-1.jpg" alt="Anjana"> -->
                    <h4>Anjana</h4>
                    <span>Lead Designer</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team__item">
                    <!-- <img src="img/about/team-2.jpg" alt="Suhail Afnan"> -->
                    <h4>Suhail Afnan</h4>
                    <span>CEO & Founder</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team__item">
                    <!-- <img src="img/about/team-3.jpg" alt="Sean Robbins"> -->
                    <h4>Sean Robbins</h4>
                    <span>Operations Manager</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team__item">
                    <!-- <img src="img/about/team-4.jpg" alt="Lucy Myers"> -->
                    <h4>Lucy Myers</h4>
                    <span>Customer Relations</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team Section End -->

<!-- Client Section Begin -->
<section class="clients spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Our Partners</span>
                    <h2>Brands We Work With</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                <a href="#" class="client__item"><img src="userAssets/img/clients/Audemars_Piguet_Logo.png" alt="Audemars Piguet"></a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                <a href="#" class="client__item"><img src="userAssets/img/clients/casio_logo.png" alt="Casio"></a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                <a href="#" class="client__item"><img src="userAssets/img/clients/farstrack_logo.png" alt="Fastrack"></a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                <a href="#" class="client__item"><img src="userAssets/img/clients/hublot logo.png" alt="Hublot"></a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                <a href="#" class="client__item"><img src="userAssets/img/clients/rolex_logo.png" alt="Rolex"></a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                <a href="#" class="client__item"><img src="userAssets/img/clients/timex_logo.png" alt="Timex"></a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                <a href="#" class="client__item"><img src="userAssets/img/clients/tissot_logo.png" alt="Tissot"></a>
            </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                    <a href="#" class="client__item"><img src="userAssets/img/titan_logo.png" alt=""></a>
                </div>
            </div>
        </div>
    </section>
    <!-- Client Section End -->
    <%- include("../layouts/userFooter.ejs") %>
