<%-include("../layouts/userNavBar.ejs") %>

<!-- Blog Details Hero Begin -->
<section class="blog-hero spad">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-9 text-center">
                <div class="blog__hero__text">
                    <h2>The Evolution of Timepieces: A Journey Through Watchmaking</h2>
                    <ul>
                        <li>By Chronolux Team</li>
                        <li>August 14, 2024</li>
                        <li>12 Comments</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Hero End -->

<!-- Blog Details Section Begin -->
<section class="blog-details spad">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-12">
                <div class="blog__details__pic">
                    <!-- <img src="img/blog/details/watchmaking-history.jpg" alt="The Evolution of Timepieces"> -->
                     <p>The Evolution of Timepieces</p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="blog__details__content">
                    <div class="blog__details__share">
                        <span>Share</span>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="blog__details__text">
                        <p>At Chronolux, we celebrate the art and science of watchmaking. From the earliest sundials to the intricate mechanical movements of today, timepieces have always been more than just a tool for telling time. They are a symbol of craftsmanship, precision, and style.</p>
                        <p>The history of watchmaking is a testament to human ingenuity. From the first portable timepieces in the 16th century to the luxury watches of the modern era, every advancement has been driven by a desire to perfect the measurement of time.</p>
                    </div>
                    <div class="blog__details__quote">
                        <i class="fa fa-quote-left"></i>
                        <p>“A great watch does more than tell time – it tells a story.”</p>
                        <h6>_ The Chronolux Team _</h6>
                    </div>
                    <div class="blog__details__text">
                        <p>Chronolux is proud to offer a curated selection of timepieces that embody this rich history and tradition. Whether you are looking for a classic design or the latest in watch technology, our collection offers something for every watch enthusiast.</p>
                        <p>Join us as we explore the evolution of watches, from the early innovations in Europe to the modern marvels crafted by leading watchmakers around the world. Discover how each piece in our collection is a tribute to the timeless art of horology.</p>
                    </div>
                    <div class="blog__details__option">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="blog__details__author">
                                    <div class="blog__details__author__pic">
                                        <!-- <img src="img/blog/details/author-chronolux.jpg" alt="Chronolux Team"> -->
                                    </div>
                                    <div class="blog__details__author__text">
                                        <h5>Chronolux Team</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="blog__details__tags">
                                    <a href="#">#Watchmaking</a>
                                    <a href="#">#LuxuryWatches</a>
                                    <a href="#">#Chronolux</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog__details__btns">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <a href="" class="blog__details__btns__item">
                                    <p><span class="arrow_left"></span> Previous Post</p>
                                    <h5>The Art of Watch Design: A Deep Dive into Aesthetics</h5>
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <a href="" class="blog__details__btns__item blog__details__btns__item--next">
                                    <p>Next Post <span class="arrow_right"></span></p>
                                    <h5>Innovations in Timekeeping: What’s Next for Watches?</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Section End -->
<%- include("../layouts/userFooter.ejs") %>
